1. WAP to print the square of all odd numbers from a given list-

   alist = [12, 9, 10, 7, 6, 18, 13, 11, 5, 2, 14]

In [1]:
alist = [12, 9, 10, 7, 6, 18, 13, 11, 5, 2, 14]

for i in alist:
    if i%2 != 0 :
        print(i**2)

81
49
169
121
25

2. WAP to count the occurrence of 'i' in the given string -

   stringA = 'mississippi'

In [2]:
stringA = 'mississippi'

i_counter=0

for item in stringA:
    if(item=='i'):
        i_counter+=1
        
print(i_counter)

4

3. WAP to print the given pattern - (2 marks)

   ***

   ***

   \*\*

   -

In [9]:
for i in range(5, 0, -1):
    for j in range(0, i, 1):
        print("*",end=' ') 
    print('\n')

* * * * *

* * * *

* * *

* *

*

4. WAP to remove duplicates from the given list -

   blist = [3,6,1,2,1,2,3,7,6,5,4,3,7,8,9,2]

In [26]:
blist = [3,6,1,2,1,2,3,7,6,5,4,3,7,8,9,2]
clist=[]

for item in blist:
    if item not in clist:
        clist.append(item)
        
clist

[3, 6, 1, 2, 7, 5, 4, 8, 9]

5. WAP to convert the names of the cities given below in lowercase and create a dictionary using city name (in lowercase) as the key and square of its length as the value.   

    cities = ['HYDERABAD', 'KOLKATA', 'PATNA', 'JAIPUR', 'LUDHIANA']

In [46]:
cities = ['HYDERABAD', 'KOLKATA', 'PATNA', 'JAIPUR', 'LUDHIANA']
lowerList=[]
for item in cities:
    lowerList.append(item.casefold())
    
d1={}
for item in lowerList:
    d1[item]=len(item)**2
    
print(lowerList) 
print(d1)

['hyderabad', 'kolkata', 'patna', 'jaipur', 'ludhiana']
{'hyderabad': 81, 'kolkata': 49, 'patna': 25, 'jaipur': 36, 'ludhiana': 64}

6. WAP to iterate over a list using enumerate function. Create a list of indices and a list of elements separately, type cast the elements into string data type and combine the two lists using zip function. Output should be displayed in the form of a dictionary.    

    clist = [10,2,13,8,19,20,4,9]

In [58]:
clist = [10,2,13,8,19,20,4,9]
clist_indx=[]
for i,j in enumerate(clist):
    clist_indx.append(i)
    
d1=dict(zip(clist_indx,clist))

d1

{0: 10, 1: 2, 2: 13, 3: 8, 4: 19, 5: 20, 6: 4, 7: 9}

7. WAP to create a new list of squares of ASCII codes of the elements of a given list.          
    dlist = ['b', 'r', 'f', 'e', 't', 'n']
    (Hint: use ord() function)
    
    Arrange the newly created list in descending order and make this change as a permanent change.

In [69]:
dlist = ['b', 'r', 'f', 'e', 't', 'n']
 
ascii_list=[]

for i in dlist:
    ascii_list.append(ord(i)**2)
    
ascii_list.sort(reverse=True)

print(ascii_list)

[13456, 12996, 12100, 10404, 10201, 9604]

8. WAP to find the sum of the digits of a user inputted number.    (3 marks)

In [73]:
nums= input("Enter 5 values seperated by space :").split(' ')

print(nums)
sum=0
for i in nums:
    sum+=int(i)
    
sum

['2', '3', '4', '5']

14