### KNN Imputation

In [5]:
import pandas as pd

In [6]:
df_imp = pd.read_csv('knn_imputation.csv')

In [7]:
df_imp.head()

,Unnamed: 0,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,0,3.0,12669.0,9656.0,7561.0,214.0,2674.0,1338.0
1,1,3.0,7057.0,9810.0,9568.0,1762.0,3293.0,1776.0
2,2,3.0,6353.0,8808.0,NaN,2405.0,3516.0,7844.0
3,3,3.0,13265.0,1196.0,4221.0,6404.0,507.0,1788.0
4,4,3.0,22615.0,5410.0,7198.0,3915.0,1777.0,5185.0

In [8]:
df_imp.drop(['Unnamed: 0'],axis=1,inplace=True)

In [9]:
df_imp.head()

   Region    Fresh    Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0     3.0  12669.0  9656.0   7561.0   214.0            2674.0      1338.0
1     3.0   7057.0  9810.0   9568.0  1762.0            3293.0      1776.0
2     3.0   6353.0  8808.0      NaN  2405.0            3516.0      7844.0
3     3.0  13265.0  1196.0   4221.0  6404.0             507.0      1788.0
4     3.0  22615.0  5410.0   7198.0  3915.0            1777.0      5185.0

In [10]:
df_imp.shape

(267, 7)

In [11]:
df_imp.isna().sum()

Region               8
Fresh               13
Milk                15
Grocery              9
Frozen               8
Detergents_Paper    10
Delicassen          11
dtype: int64

In [12]:
from sklearn.impute import KNNImputer

In [13]:
imputer = KNNImputer(n_neighbors=5)

In [14]:
# Fit and transform the data for imputation
X_imputed = imputer.fit_transform(df_imp)

In [15]:
# Creating dataframe
X_transformed = pd.DataFrame(X_imputed,columns=df_imp.columns)

In [16]:
X_transformed.head()

   Region    Fresh    Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0     3.0  12669.0  9656.0   7561.0   214.0            2674.0      1338.0
1     3.0   7057.0  9810.0   9568.0  1762.0            3293.0      1776.0
2     3.0   6353.0  8808.0   9439.6  2405.0            3516.0      7844.0
3     3.0  13265.0  1196.0   4221.0  6404.0             507.0      1788.0
4     3.0  22615.0  5410.0   7198.0  3915.0            1777.0      5185.0

In [17]:
X_transformed.isna().sum()

Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

KNN imputes every missing value for every feature. This shows how good KNNImputator is.