In [3]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv('Pfizer_1.csv')

In [11]:
df.head(10)

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30

In [25]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Date,15-10-2020,15-10-2020,15-10-2020,15-10-2020,15-10-2020,15-10-2020,16-10-2020,16-10-2020,16-10-2020,16-10-2020,16-10-2020,16-10-2020,17-10-2020,17-10-2020,17-10-2020,17-10-2020,17-10-2020,17-10-2020
Drug_Name,diltiazem hydrochloride,diltiazem hydrochloride,docetaxel injection,docetaxel injection,ketamine hydrochloride,ketamine hydrochloride,diltiazem hydrochloride,diltiazem hydrochloride,docetaxel injection,docetaxel injection,ketamine hydrochloride,ketamine hydrochloride,diltiazem hydrochloride,diltiazem hydrochloride,docetaxel injection,docetaxel injection,ketamine hydrochloride,ketamine hydrochloride
Parameter,Temperature,Pressure,Temperature,Pressure,Temperature,Pressure,Temperature,Pressure,Temperature,Pressure,Temperature,Pressure,Temperature,Pressure,Temperature,Pressure,Temperature,Pressure
1:30:00,23.0,12.0,NaN,NaN,24.0,8.0,34.0,18.0,46.0,23.0,8.0,12.0,20.0,3.0,12.0,20.0,13.0,8.0
2:30:00,22.0,13.0,17.0,22.0,NaN,NaN,35.0,19.0,47.0,24.0,9.0,12.0,19.0,4.0,13.0,22.0,14.0,9.0
3:30:00,NaN,NaN,18.0,22.0,NaN,NaN,36.0,20.0,NaN,NaN,10.0,13.0,19.0,4.0,14.0,22.0,15.0,10.0
4:30:00,21.0,11.0,NaN,NaN,27.0,7.0,36.0,21.0,48.0,25.0,NaN,NaN,18.0,4.0,15.0,22.0,16.0,11.0
5:30:00,21.0,13.0,17.0,22.0,NaN,NaN,37.0,22.0,48.0,26.0,11.0,15.0,17.0,6.0,16.0,22.0,17.0,11.0
6:30:00,22,14,18,23,26,9,38,23,49,27,12,15,16,8,17,23,18,12
7:30:00,23.0,16.0,NaN,NaN,25.0,10.0,37.0,24.0,50.0,28.0,12.0,15.0,15.0,9.0,18.0,25.0,19.0,12.0
8:30:00,21.0,16.0,NaN,NaN,24.0,11.0,38.0,25.0,52.0,29.0,11.0,15.0,NaN,NaN,19.0,26.0,20.0,11.0
9:30:00,22.0,24.0,23.0,27.0,23.0,10.0,39.0,25.0,55.0,28.0,NaN,NaN,13.0,9.0,20.0,27.0,21.0,12.0
10:30:00,20,18,23,26,22,9,40,24,56,28,13,16,14,11,21,28,22,13
11:30:00,20.0,19.0,25.0,29.0,21.0,9.0,NaN,NaN,57.0,29.0,14.0,17.0,11.0,13.0,22.0,29.0,23.0,14.0
12:30:00,21,20,25,28,20,11,42,27,58,30,15,18,10,14,23,28,24,15

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [27]:
pd.melt(df, id_vars=['Date', 'Drug_Name','Parameter']).head(10)

         Date                Drug_Name    Parameter variable  value
0  15-10-2020  diltiazem hydrochloride  Temperature  1:30:00   23.0
1  15-10-2020  diltiazem hydrochloride     Pressure  1:30:00   12.0
2  15-10-2020      docetaxel injection  Temperature  1:30:00    NaN
3  15-10-2020      docetaxel injection     Pressure  1:30:00    NaN
4  15-10-2020   ketamine hydrochloride  Temperature  1:30:00   24.0
5  15-10-2020   ketamine hydrochloride     Pressure  1:30:00    8.0
6  16-10-2020  diltiazem hydrochloride  Temperature  1:30:00   34.0
7  16-10-2020  diltiazem hydrochloride     Pressure  1:30:00   18.0
8  16-10-2020      docetaxel injection  Temperature  1:30:00   46.0
9  16-10-2020      docetaxel injection     Pressure  1:30:00   23.0

In [39]:
data_melt=pd.melt(df, id_vars=['Date', 'Drug_Name','Parameter'], var_name='Time', value_name='Readings')
data_melt

           Date                Drug_Name    Parameter      Time  Readings
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00      23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00      12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00       NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00       NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00      24.0
..          ...                      ...          ...       ...       ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00      14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00      23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00      28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00      24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00      15.0

[216 rows x 5 columns]

In [43]:
data_tidy=data_melt.pivot(index=['Date','Time','Drug_Name'],columns='Parameter', values="Readings").reset_index()
data_tidy

Parameter,Date,Time,Drug_Name,Pressure,Temperature
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0
...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0

In [45]:
data_tidy.columns.name=None
data_tidy

           Date      Time                Drug_Name  Pressure  Temperature
0    15-10-2020  10:30:00  diltiazem hydrochloride      18.0         20.0
1    15-10-2020  10:30:00      docetaxel injection      26.0         23.0
2    15-10-2020  10:30:00   ketamine hydrochloride       9.0         22.0
3    15-10-2020  11:30:00  diltiazem hydrochloride      19.0         20.0
4    15-10-2020  11:30:00      docetaxel injection      29.0         25.0
..          ...       ...                      ...       ...          ...
103  17-10-2020   8:30:00      docetaxel injection      26.0         19.0
104  17-10-2020   8:30:00   ketamine hydrochloride      11.0         20.0
105  17-10-2020   9:30:00  diltiazem hydrochloride       9.0         13.0
106  17-10-2020   9:30:00      docetaxel injection      27.0         20.0
107  17-10-2020   9:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 5 columns]

In [48]:
pd.pivot_table(data_tidy, index='Drug_Name', columns='Date', values=['Pressure','Temperature'])

                          Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride  16.000000  22.545455   7.727273   21.454545
docetaxel injection      24.875000  27.000000  24.500000   20.750000
ketamine hydrochloride    9.333333  14.800000  11.500000   23.555556


Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride  37.454545  15.636364
docetaxel injection      51.454545  17.500000
ketamine hydrochloride   11.500000  18.500000

In [50]:
pd.pivot_table(data_tidy, index='Drug_Name', columns='Date', values=['Pressure','Temperature']).reset_index()

                    Drug_Name   Pressure                       Temperature  \
Date                          15-10-2020 16-10-2020 17-10-2020  15-10-2020
0     diltiazem hydrochloride  16.000000  22.545455   7.727273   21.454545
1         docetaxel injection  24.875000  27.000000  24.500000   20.750000
2      ketamine hydrochloride   9.333333  14.800000  11.500000   23.555556


Date 16-10-2020 17-10-2020
0     37.454545  15.636364
1     51.454545  17.500000
2     11.500000  18.500000

In [54]:
df.isna().head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False

In [57]:
df.isnull().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [58]:
df.fillna(0).head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,0.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,0.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,0.0,17.0,18.0,0.0,17.0,18,0.0,0.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,0.0,22.0,22.0,0.0,22.0,23,0.0,0.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,0.0,0.0,27.0,0.0,26,25.0,24.0,23.0,22,21.0,20